@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-display: swap;
    font-family: 'Bebas Neue';
    font-style: bold;
    font-weight: 400;
    src: url('./assets/Bebas_Neue//BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Bourgeois Rounded';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/bourgeois-rounded/Bourgeois\ Rounded\ Medium.otf') format('opentype');
}

span {
    font-family: 'Bourgeois Rounded';
    color: white;
    font-weight: 500;
}