[submodule "cairo_contracts"]
	path = lib/cairo_contracts
	url = https://github.com/OpenZeppelin/cairo-contracts
[submodule "cairopen_contracts"]
	path = contracts/lib/cairopen_contracts
	url = https://github.com/CairOpen/cairopen-contracts
